* {
  margin: 0;
  padding: 0;
}

#top-container {
  border-top-width: 1px;
  border-bottom-width: 1px;
  border-style: solid;
  border-color: #eee;
  background-color: #f7f7f7;
  display: none;
  width: 100%;
  height: 250px;
}

#top-container ul {
  text-transform: uppercase;
  text-align: right;
  position: absolute;
  right: 80px;
  vertical-align: middle;
  list-style: none;
}

#blog-container {
  position: relative;
  box-shadow: 10px 5px 50px 5px #222;
  padding: 5% 0;
  margin: 4% 0;
  height: auto;
}

.blog-links {
  font-family: 'Nunito Sans', sans-serif;
  font-size: 30px;
  text-decoration: none;
}

.blog-links ul {
  list-style: none;
}

.blog-links a {
  color: #222;
  text-decoration: none;
  line-height: 60px;
}

.blog-links a:hover {
  color: #1a73e8;
}

.sprint-column1 {
  display: inline-block;
  padding-bottom: 30px;
}

.sprint-column2 {
  padding-top: 30px;
  display: inline-block;
}

.verticalLine {
  border-top: 1px solid #222;
  width: auto;
  white-space: nowrap;
}

.logo-top {
  font-family: 'Nunito Sans', sans-serif;
  position: absolute;
  padding-left: 70px;
  margin-top: 70px;
  font-size: 70px;
  color: #222;
  text-decoration: none;
}

.links {
  font-family: 'Nunito Sans', sans-serif;
  font-size: 60px;
  color: #222;
  text-decoration: none;
}

.link-about {
  font-family: 'Nunito Sans', sans-serif;
  font-size: 40px;
  color: #222;
  text-decoration: none;
}

.links:hover {
  color: #1a73e8;
}

.wrapper {
  width: 100%;
  text-align: center;
  background-color: #fff;
}

.info {
  display: inline-block;
  width: 100%;
  font-family: 'Nunito Sans', sans-serif;
  margin-bottom: 40px;
}

.info h2 {
  padding: 50px 30px 20px 30px;
  font-size: 75px;
}

.info p {
  padding: 20px 20px 0 20px;
  font-size: 26px;
}

.sprint-info {
  display: inline-block;
  width: 100%;
  font-family: 'Nunito Sans', sans-serif;
  margin-bottom: 120px;
}

.sprint-info h1 {
  padding: 30px;
  font-size: 50px;
}

.sprint-info h2 {
  padding: 30px;
  font-size: 30px;
}

.sprint-info h3 {
  padding: 20px;
  margin-bottom: 20px;
  font-size: 20px;
  background-color: #999;
}

.sprint-info h4 {
  text-align: left;
  padding: 40px 20px 0px 20px;
  font-size: 20px;
}

.sprint-info h5 {
  padding: 20px;
  font-size: 25px;
}

.sprint-info p {
  padding: 10px;
  margin: 0 100px;
  font-size: 20px;
}

.text-red {
  color: red;
  background-color: black;
}

.video-container {
  position: relative;
  box-shadow: 10px 5px 50px 5px #222;
  padding: 5% 0;
  margin: 4% 0;
  height: auto;
  overflow: hidden;
}

.info-box {
  box-shadow: 5px 5px 25px 5px #222;
  margin-top: 10%;
  padding-bottom: 5%;
}

.img-circle {
  border-radius: 50%;
  padding: 60px;
}

.icons {
  margin-left: 16px;
}

.social-icons img{
  list-style-type: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  border-bottom: none;
  width: 64px;
  height: 64px;
  margin-right: 40px;
}

.column {
  position: relative;
  padding-top: 40px;
}

.row {
  position: relative;
  padding-left: 40px;
  padding-right: 40px;
  clear: both;
  display: inline-block;
}

@media only screen and (min-width: 768px) {
  .wrapper {
    width: 600px;
    margin: 0 auto;
  }

  #top-container {
    display: flex;
  }
}

@media only screen and (min-width: 1000px) {
  .wrapper {
    width: 1300px;
  }
  
  .info {
    width: 50%;
  }

  .logo-top {
    font-size: 90px;
    margin-top: 50px;
  }
}